version: 7.50.0.{build}

environment:
    matrix:
      - PRJ_GEN: "Visual Studio 15 2017"
        BDIR: msvc2017
        PRJ_CFG: Release
        OPENSSL: OFF
        TESTING: ON
        STATICLIB: OFF

build_script:
    - mkdir build.%BDIR%
    - cd build.%BDIR%
    - cmake .. -G"%PRJ_GEN%" -DCMAKE_USE_OPENSSL=%OPENSSL% -DCURL_STATICLIB=%STATICLIB% -DBUILD_TESTING=%TESTING% -DCURL_WERROR=ON
    - cmake --build . --config %PRJ_CFG% --clean-first
